/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html {
  direction: rtl;
  font-family: "IBM Plex Sans Arabic" !important;
  /* font-family: "Roboto", sans-serif!important */
}
body {
  background: rgba(71, 36, 1, 0.842);
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: white !important;
  transition: 0.5s;
}
.MuiSvgIcon-root {
  color: white !important;
}
/* .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #90caf9 !important;
} */

/* .card:hover {
  transform: scale(1.03);
  transition: 0.3s ease;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
} */

.prayer-card:hover {
  transform: scale(1.03);
  transition: 0.3s ease;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}